@model IEnumerable<IdPWhoAmI.Models.IdPClaims>

@{
    ViewBag.Title = "Issue";
}

<h2>Issue</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Value
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value)
        </td>
    </tr>
}

</table>
